* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.upl {
  background: #d1c286;
  text-align: center;
  height: 100px;
}

a {
  text-decoration: none;

  color: white;
  margin-bottom: -700px;
}

.about-picture {
  background: url("./4090hero.jpg") center/cover no-repeat fixed;
  height: 700px;
}

.about {
  border: 5px solid white;
  width: 500px;
  height: 400px;
  background: white;
  opacity: 0.9;
  position: absolute;
  left: 300px;
  top: 200px;
}

.price {
  font-size: 13px;
}

.brand {
  font-size: 20px;
}


.products {
  background: #c1b47f;
}




.product-img {
  width: 100%;
  display: block;
  border-radius: 0.4rem;
  margin-bottom: 1rem;
}

.product-title {
  color: white;
  text-transform: uppercase;
  margin-bottom: 1rem;
}

.product-price {
  color: white;
}

ul li {
  display: inline-block;
  padding-left: 100px;
}
.in {
  font-size: 20px;
  color: white;
}

.link {
  padding-top: 40px;
  display: flex;
  justify-content: space-around;
}

.skills {
  display: flex;
  justify-content: space-around;
padding-bottom: 3rem;
}
.products-info {
  text-align: center;
}

.product {
  width: 20%;
}
.product-inventory {
  display: flex;
  justify-content: space-around;
}
.skill{
  text-align: center;
}
.sa{
  background: #d1c286;
width: 100px;
height: 100px;
}
.skill-icon{
font-size: 30px;
background: #d1c286;
border-radius: 50px;
}
.skill-title{
  color: gold;
}
.head{
font-size: 25px;
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.container{
  background: url('./images.jpg') center/cover no-repeat fixed;
height: 300px;
}


.contact-form{
  background: #c1ad5f;
height: 300px;

}
.card{
border:5px solid #ebdfafa8;
width: 200px;
height: 200px;
text-align: center;
}
.card2{
  border:5px solid #ebdfafa8;
width: 200px;
height: 200px;
text-align: center;
}
.card3{
  border:5px solid #ebdfafa8;
width: 200px;
height: 200px;
text-align: center;

}
.card4{
  border:5px solid #ebdfafa8;
  width: 200px;
  height: 200px;
  text-align: center;
  
}
.icons{
  font-size: 30px;

border-radius: px;
color: #d1c286;
}
.record{
font-size: 20px;

}
.ne{
text-align: center;
font-size: 35px;
}
.pro{
  text-align: center;
margin-top: 30px;
}
.from-group{
  text-align: center;
margin-top: 150px;
}
.control{
background: white;
opacity: 0.5;
height: 50px;
width: 300px;
border-radius: 5px;
}
.main{
border: 5px solid black;
background: black;
color: white;
height: 50px;
width: 300px;
border-radius: 5px;
}
.container_footer {
  background: #efefef;
  display: flex;
  justify-content: space-around;
  padding-top: 30px;
}
.card_footer {
  width: 250px;
  height: 300px;
}
.card_footer1 {
  width: 400px;
}
.card_footer1h1 {
  display: block;
  margin-top: 50px;
}
.card_footer1p {
  display: block;
  margin-top: 20px;
}
.card_footer2ul {
  margin-top: 20px;
}
.card_footer2li {
  padding-top: 20px;
}


.card_footer2li:hover {
  color: #d1c286;
  transition: all 0.3s ease-in-out;
}

.card_footer2li a {
  color: black;
  text-decoration: none;
}
.footer{
  background: #efefef;
  height: 200px;
  text-align: center;
  padding-top: 50px;
}
.icon1{
  font-size: 30px;
color: #d1c286;
padding-right: 1rem;
}